body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
}

body a {
    text-decoration: none;
}

.navbars {
    font-size: 13px;
    list-style-type: none;
    background-color: #f6f6f6;
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.navitems1 a {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.navitems2 a {
    font-size: 12px;
    vertical-align: bottom;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.sidebar {
    margin-bottom: 6px;
    width: 175px;
    z-index: 10;
}

.sidebar a {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidehead {
    text-color: gray;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.sidebarli {
    list-style-type: none;
}

.head1 {
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Georgia', serif;
    margin-bottom: 0;
}

.head2 {
    font-size: 22px;
    font-family: 'Georgia', serif;
    margin-bottom: 0;
}

.articlebody {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-style: solid;
    border-color: #89d1c4;
    border-width: 1px;
}

.article {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.article2 {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.references {
    font-size: 13px;
    font-family: 'Arial', sans-serif;
}

.bottombars {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    list-style-type: none;
    width: 900px;
}

.navitems3 a {
    font-size: 12px;
    vertical-align: middle;
    display: block;
    margin-right: 15px;
}

.underarticle {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 13px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sideline {
    border: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    float: left;
}

hr {
    margin-top: 0px;
}